@mixin resolution($breakpoint) {
    @if $breakpoint == very-big-desktop {
        @media only screen and (min-width: 1501px) {
          @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media (max-width: 1500px) {
          @content;
        }
    }
    @if $breakpoint == desktop {
        @media (max-width: 1200px) {
          @content;
        }
    }
    @if $breakpoint == small-desktop {
        @media (max-width: 992px) {
              @content;
        }
    }
    @if $breakpoint == tablet {
        @media (max-width: 768px) {
              @content;
        }
    }
    @if $breakpoint == big-mobile {
        @media (max-width: 480px) {
            @content;
        }
    }
    @if $breakpoint == mobile {
        @media (max-width: 320px) {
            @content;
        }
    }
}

@mixin font($breakpoint) {
    @if $breakpoint == lato-24 {
        font-family: 'Lato';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 31.92px;
    }
    @if $breakpoint == lato-18 {
        font-family: 'Lato';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.6px;
    }
    @if $breakpoint == lato-15 {
        font-family: 'Lato';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    @if $breakpoint == roboto-bold-32 {
        font-family: 'Roboto';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 41px;
    }
    @if $breakpoint == roboto-bold-32-oblate {
        font-family: 'Roboto';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 37.5px;
    }
    @if $breakpoint == roboto-bold-31 {
        font-family: 'Roboto';
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: 36.33px;
    }
    @if $breakpoint == roboto-bold-18 {
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.36px;
    }
    @if $breakpoint == roboto-bold-18-oblate {
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21.09px;
    }
    @if $breakpoint == roboto-bold-15 {
        font-family: 'Roboto';
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }
    @if $breakpoint == roboto-bold-14 {
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 1.96px;
    }
    @if $breakpoint == roboto-48 {
        font-family: 'Roboto';
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 56.25px;
    }
    @if $breakpoint == roboto-32 {
        font-family: 'Roboto';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 41px;
    }
    @if $breakpoint == roboto-32-oblate {
        font-family: 'Roboto';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 37.5px;
    }
    @if $breakpoint == roboto-24 {
        font-family: 'Roboto';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 31.92px;
    }
    @if $breakpoint == roboto-18 {
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.36px;
    }
    @if $breakpoint == roboto-18-oblate {
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.09px;
        letter-spacing: 0.36px;
    }
    @if $breakpoint == roboto-15 {
        font-family: 'Roboto';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    @if $breakpoint == roboto-15-small-oblate {
        font-family: 'Roboto';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.6px;
    }
    @if $breakpoint == roboto-15-oblate {
        font-family: 'Roboto';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.58px;
    }
    @if $breakpoint == roboto-14 {
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.96px;
    }
    @if $breakpoint == roboto-13 {
        font-family: 'Roboto';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    @if $breakpoint == roboto-15-italic {
        font-family: 'Roboto';
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
        line-height: 17.58px;
    }
}