// Colors
$color-white: #FFFFFF;
$color-midnight: #011F3A;
$color-east-bay: #3D5675;
$color-casablanca: #F2AE4D;
$color-silver-chalice: #A1A1A1;
$color-boulder: #777777;
$color-gallery: #EDEDED;
$color-gallery-dark: #EEEEEE;
$color-silver-tree: #72BDA3;
$color-sunglow: #FFCA3A;
$color-concrete: #F2F2F2;
$color-porcelain: #F2F3F4;
$color-emperor: rgba(84, 84, 84, 0.25);
$color-gray: rgba(143, 143, 143, 0.25);
$color-silver-chalice-opacity: rgba(161, 161, 161, 0.4);
$color-east-bay-opacity: rgba(61, 86, 117, 0.4);