@import "_fonts";
@import "_variables";
@import "_mixins";
@import "_normalize";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "./components/header";
@import "./components/main-block";
@import "./components/partners";
@import "./components/products";
@import "./components/customers";
@import "./components/advantage";
@import "./components/request";
@import "./components/merchants";
@import "./components/action";
@import "./components/footer";