<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=480, initial-scale=1.0">
  <title>Arka</title>
  <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
  <header class="header">
    <a href="#">
      <img src="./assets/icons/logo.svg" alt="logo" class="header__logo">
    </a>
    <nav class="header__menu">
      <ul class="list">
        <li class="list__item start">
          <svg class="icon star">
            <use href="./assets/icons/icons.svg#star"></use>
          </svg>
          <a href="#" class="list__link">Start your design</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">All products</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Inspiration</a>
        </li>
        <li class="list__item about">
          <a href="#" class="list__link">About</a>
          <svg class="icon about__arrow">
            <use href="./assets/icons/icons.svg#arrow"></use>
          </svg>
        </li>
      </ul>
    </nav>
    <section class="account">
      <span>Account</span>
      <img src="./assets/icons/cart.svg" alt="logo" class="account__cart">
    </section>
  </header>
  <main>
    <section class="main">
      <div class="main__info">
        <div class="main__title">
          Fast and easy custom boxes your customers will love
        </div>
        <div class="main__subtitle">
          Fastest turnaround. Best prices instantly. Dieline design help available.
        </div>
        <button class="main__button">Start your design</button>
      </div>
      <img src="./assets/img/four-block.png" alt="four box" class="main__image">
    </section>
  </main>
</body>
</html>