<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=480, initial-scale=1.0">
  <title>Arka</title>
  <link rel="shortcut icon" href="./favicon.ico">
</head>
<body>
  <header class="header">
    <a href="#">
      <img src="./assets/icons/logo.svg" alt="logo" class="header__logo">
    </a>
    <nav class="header__menu">
      <ul class="list">
        <li class="list__item start">
          <svg class="icon star">
            <use href="./assets/icons/icons.svg#star"></use>
          </svg>
          <a href="#" class="list__link">Start your design</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">All products</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Inspiration</a>
        </li>
        <li class="list__item about">
          <a href="#" class="list__link">About</a>
          <svg class="icon about__arrow">
            <use href="./assets/icons/icons.svg#arrow"></use>
          </svg>
        </li>
      </ul>
    </nav>
    <section class="account">
      <span>Account</span>
      <img src="./assets/icons/cart.svg" alt="logo" class="account__cart">
    </section>
  </header>
  <main>
    <section class="main">
      <div class="main__info">
        <div class="main__title">
          Fast and easy custom boxes your customers will love
        </div>
        <div class="main__subtitle">
          Fastest turnaround. Best prices instantly. Dieline design help available.
        </div>
        <button class="main__button">Start your design</button>
      </div>
      <img src="./assets/img/four-block.png" alt="four box" class="main__image">
    </section>
    <section class="partners">
      <div class="partners__shopify">
        <img src="./assets/icons/shopify.svg" alt="logo shopify">
        <span class="partners__text">Shopify Integrated</span>
      </div>
      <div class="partners__amazon">
        <img src="./assets/icons/amazon.svg" alt="logo amazon">
        <span class="partners__text">Amazon Certified</span>
      </div>
      <div class="partners__eco">
        <img src="./assets/icons/eco.svg" alt="logo eco">
        <span class="partners__text">Eco-Friendly</span>
      </div>
    </section>
    <section class="products">
      <div class="products__title">
        <span class="products__title__text">Products you can customize</span>
        <button class="products__title__button">Browse all products</button>
      </div>
      <div class="products__cards">
        <div class="card">
          <img src="./assets/img/carton-boxes.png" alt="carton boxes" class="card__image">
          <span class="card__title">Custom Carton Boxes</span>
          <div class="card__info">
            <span class="card__subtitle">Create a clean brand presentation with this custom carton box.</span>
            <div class="card__text">
              <span>Starting at:</span>
              <span>$10.44/unit</span>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/boxes.png" alt="boxes" class="card__image">
          <span class="card__title">Custom Boxes</span>
          <div class="card__info">
            <span class="card__subtitle card__subtitle__boxes">A stylish and strong corrugated cardboard box.</span>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/poly-mailers.png" alt="poly mailers" class="card__image">
          <span class="card__title">Custom Poly Mailers</span>
          <div class="card__info">
            <span class="card__subtitle">A fully custom high quality self sealing poly mailer.</span>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/tape.png" alt="tape" class="card__image">
          <span class="card__title">Custom Tape</span>
          <div class="card__info">
            <span class="card__subtitle">High quality custom tape to seal your shipping boxes during delivery.</span>
            <div class="card__text">
              <span>Starting at:</span>
              <span>$12.16/unit</span>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/stickets.png" alt="stickets" class="card__image">
          <span class="card__title">Custom Stickers</span>
          <div class="card__info">
            <span class="card__subtitle">Add personality to your packages with custom stickers.</span>
            <div class="card__text">
              <span>Starting at:</span>
              <span>$0.41/unit</span>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="./assets/img/tissue-paper.png" alt="tissue paper" class="card__image">
          <span class="card__title">Custom Tissue Paper</span>
          <div class="card__info">
            <span class="card__subtitle">The perfect addition to branding your package.</span>
            <div class="card__text">
              <span>Starting at:</span>
              <span>$6.54/unit</span>
            </div>
          </div>
        </div>
      </div>
      <div class="products__info">
        <span class="products__info__text">Need unbranded stock items?</span>
        <button class="products__info__button">Shop stock</button>
      </div>
    </section>
    <section class="customers">
      <div class="customers__content">
        <span class="customers__text">Fast and easy custom boxes your customers will love</span>
        <div class="customers__cards">
          <div class="customers__card">
            <img src="./assets/img/order.png" alt="order" class="customers__card__image">
            <div class="customers__card__text">
              <span class="customers__card__title">You Order</span>
              <span class="customers__card__subtitle">Design and order boxes in a few clicks.</span>
            </div>
          </div>
          <div class="customers__card">
            <img src="./assets/img/proof.png" alt="proof" class="customers__card__image">
            <div class="customers__card__text">
              <span class="customers__card__title">We Proof</span>
              <span class="customers__card__subtitle customers__card__subtitle__proof">Approve your designs before production.</span>
            </div>
          </div>
          <div class="customers__card">
            <img src="./assets/img/print-ship.png" alt="print ship" class="customers__card__image">
            <div class="customers__card__text">
              <span class="customers__card__title">We Print & Ship</span>
              <span class="customers__card__subtitle">Your order gets printed and shipped with tracking.</span>
            </div>
          </div>
        </div>
        <button class="customers__button">Start your design</button>
      </div>
    </section>
    <section class="advantage">
      <span class="advantage__text">The Arka advantage</span>
      <div class="advantage__cards">
        <div class="advantage__card">
          <img src="./assets/img/material.png" alt="material" class="advantage__card__image">
          <div class="advantage__card__text">
            <span class="advantage__card__title">Eco-Friendly Material</span>
            <span class="advantage__card__subtitle">Order as little as 10, giving you the lowest minimums in the industry at the best prices.</span>
          </div>
        </div>
        <div class="advantage__card">
          <img src="./assets/img/print.png" alt="print" class="advantage__card__image">
          <div class="advantage__card__text">
            <span class="advantage__card__title">Full Outside Print</span>
            <span class="advantage__card__subtitle">Design what you want - no extra cost! Prices include 100% exterior print, change design whenever!</span>
          </div>
        </div>
        <div class="advantage__card">
          <img src="./assets/img/proofing.png" alt="proofing" class="advantage__card__image">
          <div class="advantage__card__text">
            <span class="advantage__card__title">Proofing</span>
            <span class="advantage__card__subtitle advantage__card__proofing">After you order, our internal designers help make sure your designs are 100% ready for printing!</span>
          </div>
        </div>
      </div>
    </section>
    <section class="request">
      <div class="request__content">
        <div class="request__card">
          <img src="./assets/img/quote.png" alt="quote" class="request__image">
          <span class="request__title">Couldn't find a size you need?</span>
          <span class="request__text request__text__column1">We’ll work directly with you to create a fully branded packaging system.</span>
          <button class="request__button">Request a quote</button>
        </div>
        <div class="request__line"></div>
        <div class="request__card">
          <img src="./assets/img/dieline.png" alt="dieline" class="request__image">
          <span class="request__title">Need a free dieline template?</span>
          <span class="request__text">Let us know what size you need and we'll email an Adobe Illustrator dieline to you within 3-4 business days.</span>
          <button class="request__button">Request dieline</button>
        </div>
      </div>
    </section>
    <section class="merchants">
      <span class="merchants__title">Merchants love Arka</span>
      <div class="merchants__content">
        <div class="merchants__content__item">
          <div class="merchants__content__google">
            <img src="./assets/icons/logo-google.svg" alt="google"">
            <div class="merchants__content__score">
              <div class="merchants__content__stars">
                <img src="./assets/icons/score-google-full.svg" alt="score google" class="merchants__content__star">
                <img src="./assets/icons/score-google-full.svg" alt="score google" class="merchants__content__star">
                <img src="./assets/icons/score-google-full.svg" alt="score google" class="merchants__content__star">
                <img src="./assets/icons/score-google-full.svg" alt="score google" class="merchants__content__star">
                <img src="./assets/icons/score-google.svg" alt="score google" class="merchants__content__star">
              </div>
              <span>4.6</span>
            </div>
          </div>
          <div class="merchants__content__line"></div>
          <div class="merchants__content__shopify">
            <img src="./assets/icons/logo-shopify.svg" alt="shopify"">
            <div class="merchants__content__score">
              <div class="merchants__content__stars">
                <img src="./assets/icons/score-shopify-full.svg" alt="score shopify" class="merchants__content__star">
                <img src="./assets/icons/score-shopify-full.svg" alt="score shopify" class="merchants__content__star">
                <img src="./assets/icons/score-shopify-full.svg" alt="score shopify" class="merchants__content__star">
                <img src="./assets/icons/score-shopify-full.svg" alt="score shopify" class="merchants__content__star">
                <img src="./assets/icons/score-shopify.svg" alt="score shopify" class="merchants__content__star">
              </div>
              <span>4.6</span>
            </div>
          </div>
        </div>
        <div class="merchants__content__item">
          <img src="./assets/img/image1.png" alt="image boxes">
          <div class="merchants__content__info">
            <span class="merchants__content__title">“Arka’s team is super fast, knowledgeable, and easy to work with - highly recommended!”</span>
            <div class="merchants__content__user">
              <img src="./assets/img/jesse.png" alt="image jesse">
              <div class="merchants__content__user__info">
                <span class="merchants__content__name">Jesse</span>
                <span class="merchants__content__user__text">Subscription Catalyst</span>
              </div>
              <button class="merchants__content__button">Their story</button>
            </div>
          </div>
        </div>
        <div class="merchants__content__item">
          <div class="merchants__content__info">
            <span class="merchants__content__title">“I really like Arka because it’s a really nice box, I’ve gotten a lot of compliments on&nbsp;it.”</span>
            <div class="merchants__content__user">
              <img src="./assets/img/leslie.png" alt="image leslie">
              <div class="merchants__content__user__info">
                <span class="merchants__content__name">Leslie</span>
                <span class="merchants__content__user__text merchants__content__user__leslie">Burgundy Fox</span>
              </div>
              <button class="merchants__content__button">Their story</button>
            </div>
          </div>
          <img src="./assets/img/image2.png" alt="image boxes">
        </div>
        <div class="merchants__content__item">
          <img src="./assets/img/image3.png" alt="image boxes">
          <div class="merchants__content__info">
            <span class="merchants__content__title">“I love how easily it was to customize the box, and you guys were more affordable.”</span>
            <div class="merchants__content__user">
              <img src="./assets/img/anthony.png" alt="image anthony">
              <div class="merchants__content__user__info">
                <span class="merchants__content__name">Anthony</span>
                <span class="merchants__content__user__text merchants__content__user__anthony">Lipstick Junkie</span>
              </div>
              <button class="merchants__content__button">Their story</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="action">
      <span class="action__title">Let`s get to it</span>
      <div class="action__buttons">
        <button class="action__design">Start your design</button>
        <button class="action__product">Browse all products</button>
      </div>
    </section>
  </main>
  <footer class="footer">
    <img src="./assets/icons/logo.svg" alt="logo" class="footer__logo">
    <div class="footer__column">
      <span>Custom Design</span>
      <span>All Products</span>
      <span>Inspiration</span>
      <span>Sustainability</span>
      <span>Affiliate Program</span>
      <span>Request Custom Quote</span>
      <span>Request Dieline</span>
    </div>
    <div class="footer__column">
      <span>About Us</span>
      <span>Blog</span>
      <span>Partners</span>
      <span>Contact Us</span>
      <span>FAQ</span>
      <span>Terms & Conditions</span>
    </div>
    <div class="footer__column">
      <span>Shopify App</span>
      <span>14 Day Free Shopify Trial</span>
      <span>BigCommerce</span>
      <div class="footer__icons">
        <img src="./assets/icons/logo-facebook.svg" alt="logo facebook">
        <img src="./assets/icons/logo-twitter.svg" alt="logo twitter">
        <img src="./assets/icons/logo-instagram.svg" alt="logo instagram">
      </div>
    </div>
    <div class="footer__column footer__column__5">
      <span>Get exclusive offers and tips.</span>
      <input type="text" class="footer__input" placeholder="Your email">
      <button class="footer__button">Join instantly</button>
    </div>
  </footer>
</body>
</html>