.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-gallery-dark;

    &__title {
        margin-top: 120px;
        color: $color-midnight;
        @include font(roboto-bold-31);
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 55.31px;
        width: 487.58px;
    }

    &__design, &__product {
        height: 44px;
        border-radius: 44px;
        border: none;
        text-transform: uppercase;
        @include font(roboto-bold-14);
        margin-bottom: 137px;
    }

    &__design {
        width: 220px;
        background: $color-east-bay;
        color: $color-white;
    }

    &__product {
        width: 247px;
        background: $color-white;
        color: $color-east-bay;
        margin-right: 9.78px;
    }
}