.advantage {
    background: $color-gallery-dark;
    padding-top: 88px;
    padding: 88px 162px 140px;

    @include resolution(desktop) {
        padding: 88px 122px 140px;
    }

    @include resolution(small-desktop) {
        padding: 88px 62px 140px;
    }

    @include resolution(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        @include font(roboto-bold-32);
        color: $color-midnight;

        @include resolution(big-desktop) {
            font-size: 70px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        margin-top: 82.31px;

        @include resolution(tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__card {

        @include resolution(big-desktop) {
            width: 400px;
        }

        &__image {
            margin-bottom: 50px;

            @include resolution(big-desktop) {
                width: 100%;
            }

            @include resolution(desktop) {
                width: 200px;
                margin-bottom: 20px;
            }

            @include resolution(tablet) {
                width: 250px;
            }

            @include resolution(tablet) {
                margin-bottom: 0;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;

            @include resolution(tablet) {
                align-items: center;
            }
        }

        &__title {
            @include font(roboto-bold-18);
            color: $color-midnight;
            margin-bottom: 12px;

            @include resolution(big-desktop) {
                font-size: 50px;
                line-height: 60px;
            }

            @include resolution(small-desktop) {
                font-size: 16px;
            }
        }

        &__subtitle {
            @include font(roboto-15);
            color: $color-silver-chalice;
            width: 246px;

            @include resolution(big-desktop) {
                font-size: 32px;
                line-height: 42px;
                width: 430px;
            }

            @include resolution(desktop) {
                width: 220px;
            }

            @include resolution(small-desktop) {
                font-size: 14px;
                width: 180px;
            }

            @include resolution(tablet) {
                text-align: center;
                width: 240px;
                margin-bottom: 50px;;
            }
        }

        &__proofing {
            width: 250px;

            @include resolution(big-desktop) {
                font-size: 32px;
                line-height: 42px;
                width: 430px;
            }

            @include resolution(desktop) {
                width: 220px;
            }

            @include resolution(small-desktop) {
                width: 180px;
            }

            @include resolution(tablet) {
                width: 240px;
            }
        }
    }
}