.customers {
    background: $color-gallery-dark;
    padding: 70px 120px;

    @include resolution(small-desktop) {
        padding: 70px 60px;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $color-silver-tree;
        box-shadow: 0px 14px 44px $color-gray;
    }

    &__text {
        margin-top: 88px;
        @include font(roboto-32);
        color: $color-midnight;

        @include resolution(big-desktop) {
            font-size: 70px;
            text-align: center;
            line-height: 80px;
        }

        @include resolution(desktop) {
            text-align: center;
        }

        @include resolution(small-desktop) {
            width: 405px;
        }

        @include resolution(tablet) {
            font-size: 24px;
            width: 350px;
        }

        @include resolution(big-mobile) {
            width: 205px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        width: 92%;

        @include resolution(tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        margin: 46.31px 0 75.69px;

        @include resolution(big-desktop) {
            img {
                width: 500px;
            }
        }

        @include resolution(desktop) {
            width: 200px;
        }

        @include resolution(small-desktop) {
            width: 150px;
        }

        @include resolution(tablet) {
            margin: 50px 0 0;
        }

        &__image {
            margin-bottom: 12px;

            @include resolution(tablet) {
                margin-bottom: 0;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            margin-bottom: 10px;
            @include font(roboto-18);
            color: $color-midnight;

            @include resolution(big-desktop) {
                font-size: 50px;
            }
        }

        &__subtitle {
            width: 197px;
            text-align: center;
            @include font(roboto-15);
            color: $color-east-bay;

            &__proof {
                width: 152px;
            }

            @include resolution(big-desktop) {
                width: 323px;
                font-size: 32px;
                line-height: 50px;
                margin-top: 40px;
            }

            @include resolution(small-desktop) {
                width: 140px;
            }

            @include resolution(tablet) {
                width: 175px;
            }
        }
    }

    &__button {
        width: 220px;
        height: 44px;
        margin-bottom: 88px;
        background: $color-east-bay;
        border-radius: 44px;
        border: none;
        @include font(roboto-bold-14);
        text-transform: uppercase;
        color: $color-white;
        transition: 1s;

        &:hover {
            background: $color-white;
            color: $color-east-bay;
        }

        @include resolution(big-desktop) {
            width: 442px;
            height: 83px;
            font-size: 24px;
        }

        @include resolution(tablet) {
            margin-top: 70px;
        }
    }
}