.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 57.31px 120px 59.69px;
    background: $color-porcelain;

    @include resolution(desktop) {
        padding: 57.31px 30px 59.69px;
    }

    @include resolution(small-desktop) {
        flex-direction: column;
        align-items: center;
    }

    &__logo {

        @include resolution(big-desktop) {
            width: 200px;
        }

        @include resolution(small-desktop) {
            margin-bottom: 70px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;

        @include resolution(tablet) {
            margin-bottom: 50px;
        }

        span {
            margin-bottom: 18px;
            color: $color-east-bay;
            @include font(roboto-15-oblate);

            @include resolution(big-desktop) {
                font-size: 24px;
                line-height: 34px;
            }

            @include resolution(tablet) {
                text-align: center;
            }
        }

        &__action {
            span {
                margin-bottom: 14px;
            }

            @include resolution(small-desktop) {
                display: flex;
                align-items: center;
            }

            
        }

        &__text {
            display: flex;
            justify-content: space-between;
            width: 54%;

            @include resolution(small-desktop) {
                width: 600px;
                margin-bottom: 70px;
            }

            @include resolution(tablet) {
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
                width: 400px;
            }

            @include resolution(big-mobile) {
                width: 300px;
            }

            @include resolution(mobile) {
                width: 200px;
            }
        }
    }

    

    &__icons {
        display: flex;
        justify-content: space-between;
        width: 94px;
        cursor: pointer;

        @include resolution(big-desktop) {
            width: 150px;

            img {
                width: 40px;
            }
        }

        @include resolution(tablet) {
            margin-left: 36px;
        }
    }

    &__input {
        width: 280px;
        height: 36px;
        background: $color-white;
        border-radius: 34px;
        border: none;
        margin-bottom: 12px;
        color: $color-midnight;
        @include font(roboto-15);
        padding: 9px 23px;
        outline: none;

        &::placeholder {
            @include font(roboto-15-italic);
            color: $color-east-bay-opacity;

            @include resolution(big-desktop) {
                font-size: 24px;
            }
        }

        @include resolution(big-desktop) {
            margin-top: 20px;
            margin-bottom: 40px;
            width: 420px;
            height: 62px;
            font-size: 24px;
        }

        @include resolution(small-desktop) {
            margin: 20px 0;
        }
    }

    &__button {
        width: 187px;
        height: 44px;
        background: $color-east-bay;
        border-radius: 44px;
        border: none;
        color: $color-white;
        @include font(roboto-bold-18-oblate);
        transition: 1s;

        &:hover {
            background: $color-white;
            color: $color-east-bay;
        }

        @include resolution(big-desktop) {
            width: 240px;
            height: 55px;
            font-size: 24px;
        }
    }
}