.main {
    display: flex;
    justify-content: space-between;
    background: $color-casablanca;
    width: 100%;
    height: calc(100vh - 61px);
    margin-top: 61px;

    &__info {
        margin-left: 120px;
        margin-top: 165px;
        color: $color-midnight;
        width: 500px;
    }

    &__title {
        @include font(roboto-48);
        margin-bottom: 33px;
    }

    &__subtitle {
        @include font(roboto-15);
        width: 277px;
        margin-bottom: 14px;
    }

    &__button {
        width: 228px;
        height: 56px;
        border-radius: 44px;
        border: none;
        background: $color-east-bay;
        color: $color-white;
        @include font(roboto-bold-14);
        text-transform: uppercase;
    }
    &__image {
        margin-top: 87px;
    }
}