.products {
    background: $color-gallery-dark;
    padding: 57px 120px 49.69px;

    @include resolution(small-desktop) {
        padding: 57px 60px 49.69px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 57px;

        @include resolution(tablet) {
            flex-direction: column;
            align-items: center;
        }

        &__text {
            animation: fadeInLeft;
            animation-duration: 2s;

            @include font(roboto-32-oblate);

            @include resolution(big-desktop) {
                font-size: 70px;
            }

            @include resolution(small-desktop) {
                width: 300px;
            }

            @include resolution(tablet) {
                text-align: center;
                margin-bottom: 50px;
            }
        }

        &__button {
            width: 247px;
            height: 44px;
            background: $color-east-bay;
            border: none;
            border-radius: 44px;
            @include font(roboto-bold-14);
            color: $color-white;
            text-transform: uppercase;
            animation: fadeInRight;
            animation-duration: 2s;
            transition: 1s;

            &:hover {
                background: $color-white;
                color: $color-east-bay;
            }

            @include resolution(big-desktop) {
                width: 400px;
                height: 90px;
                font-size: 23px;
            }
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 46px;

        .card {
            width: 400px;
            height: 432px;
            background: $color-white;
            border: 1px solid $color-gallery;
            transition: 1.5s;

            &:hover {
                transform: scale(1.1);
            }

            @include resolution(big-desktop) {
                width: 733px;
                height: 820px;
            }

            @media (max-width: 1050px) {
                width: 375px;
            }

            @include resolution(small-desktop) {
                width: 329px;
                height: 375px;
            }
    
            &__image {
                margin-bottom: 24px;

                @include resolution(big-desktop) {
                    width: 100%;
                }

                @include resolution(small-desktop) {
                    margin-bottom: 0;
                    width: 100%;
                }
            }
    
            &__title {
                @include font(roboto-18-oblate);
                color: $color-midnight;
                margin-left: 25px;

                @include resolution(big-desktop) {
                    font-size: 44px;
                }
            }
    
            &__info {
                display: flex;
                justify-content: space-between;
                @include font(roboto-15);
                color: $color-silver-chalice;
                margin: 6px 25px 4px;
            }
    
            &__subtitle {
                width: 209px;
                margin-top: 2px;

                &__boxes {
                    width: 192px;
                }

                @include resolution(big-desktop) {
                    width: 400px;
                    margin-top: 25px;
                    font-size: 30px;
                    line-height: 40px;
                }

                @include resolution(small-desktop) {
                    width: 180px;
                }
            }
    
            &__text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @include resolution(big-desktop) {
                    font-size: 30px;
                    line-height: 50px;
                    margin-top: 18px;
                }
            }
        }
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;

        @include resolution(big-desktop) {
            margin-top: 120px;
        }

        @include resolution(big-mobile) {
            flex-direction: column;
        }

        &__text {
            @include font(roboto-bold-15);
            color: $color-silver-chalice;
            margin-right: 16px;
            animation: fadeInUp;
            animation-duration: 2s;

            @include resolution(big-desktop) {
                font-size: 40px;
                margin-right: 140px;
            }

            @include resolution(big-mobile) {
                margin-bottom: 30px;
            }
        }

        &__button {
            width: 158px;
            height: 44px;
            background: $color-white;
            border-radius: 44px;
            border: none;
            @include font(roboto-bold-14);
            color: $color-east-bay;
            text-transform: uppercase;
            animation: fadeInUp;
            animation-duration: 2s;

            &:hover {
                background: $color-east-bay;
                color: $color-white;
            }

            @include resolution(big-desktop) {
                width: 289px;
                height: 75px;
                font-size: 25px;
            }
        }
    }
}